@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
}
.background-img {
  background: url("../assets/Projects-bg-img.jpg"),repeat 0 0 ;
  width:100vw;
  height:100%;
  overflow: hidden;
}


.font{
  font-family:'Exo', sans-serif;
  color:  lightpink;
  font-size: 50px;
  font-weight: bold;
  filter: drop-shadow(9px 10px 5px #ffffff);
}

.card-custom1{
  width: 300px;
  height: 300px;
  margin-top: 50px;
}

.vline1{
  border-radius: 8px;
  border-left: 6px solid rgb(111, 173, 255);
  box-shadow: 1px 1px 50px 9px rgb(16, 175, 255);
  height: 60px;
}
.alterVline{
  padding-left: 150px;
}

.Hline1 {
  border-radius: 8px;
  border-bottom: 6px solid rgb(111, 173, 255);
  box-shadow: 1px 1px 50px 9px rgb(16, 175, 255);
  width: 200px;
}

.Hline1 p{
  color: rgb(44, 157, 255);
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}

.Hline1 ul li{
  color: aliceblue;
  font-weight: bold;
}


.alterHline{
 padding-left: 320px;
}

.vline2{
  border-radius: 8px;
  border-left: 6px solid rgb(242, 237, 77);
  box-shadow: 1px 1px 50px 9px rgb(255, 239, 16);
  height: 60px;
}

.Hline2 {
  border-radius: 8px;
  border-bottom: 6px solid rgb(242, 237, 77);
  box-shadow: 1px 1px 50px 9px rgb(255, 239, 16);
  width: 200px;
}

.Hline2 p{
  color: rgb(242, 237, 77);
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}

.Hline2 ul li{
  color: aliceblue;
  font-weight: bold;
}

.card-customs{
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-1px);
}

.card-customs:hover{
  transform: translateY(-8px);
  
}
.netflixlink{
  text-decoration: none;
}

.imgage-netflix{
  width: 300px;
  height: 300px;
  overflow: hidden;
}