<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>wikkiPortfolio</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
</head>
<body> 
  <div class="img-fluid background-img">
  {{> Header}}
  <div class="container mt-5 align-items-center text-custom">
    <div>

    <span class=" hi-custom">Hey hi,I am</span>

    <div class="hi-custom ms-4 pb-0 pt-0 pad-custom"><span>VIGNESH </span></div> 

    <span class="display-4">Fullstack.Dev</span>
     And also I am interested in freelancing at fullstack webdevelopment. 
   I got some experience doing projects using  HTML,
  CSS, JAVASCRIPT and  Frameswoks like React-Native , React JS , Node JS , Express-js , Mongodb , Mysql , Rest API. If you want to know about
  me then <a href="#aboutme"> click here,</a> and see my Projects <a href="Projects.html">click here.</a>
  </div>
</div>
  
  <div class="custom-bar">
  <div class=" card-custom card ">
    <p>Projects</p>
    <ul>
      <li>Youtube_clone</li>
      <li>Portfolio</li>
      <li>Netflix_clone</li>
      <li>Selenium_Bot</li>
    </ul>
  </div>
  </div>
  <div class="float-end mt-5 pt-5 mb-5 p-5">
    <button class="button-30" id="like">Like<span id="count"> 0 </span><svg class="heart" viewBox="0 0 32 29.6">
      <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
      c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
    </svg> 
    </button>
  </div>


  <footer class=" footer_area section_padding_130_0  mt-5">
      <div class="container">
        <div class="row">
          
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-footer-widget section_padding_0_130">
              
              <div class="footer-logo mb-3"></div>
              <p>This is my Protfolio to showcase my projects.</p>
         
              <div class="copywrite-text mb-5 ">
                <p class="mb-0">Made by VigneshShivan</p>
              </div>
              
              <div class="footer_social_area mb-2">
                <a  href="https://www.facebook.com/profile.php?id=100063262870014"  data-original-title="Facebook" class="fa fa-facebook custom-social">
                  </a>
                <a class="fa fa-github custom-social" href="https://github.com/vignesh-wikki/" data-original-title="Github">
                  </a>
                <a class="fa fa-instagram custom-social" href="https://www.instagram.com/just_beast_1/" data-original-title="Instagram">
                  </a>
                <a class="fa fa-linkedin custom-social" href="https://www.linkedin.com/in/vignesh-vicky-772810224/" data-original-title="Linkedin">
                  </a>
              </div>
            </div>
          </div>
        
          <div class="col-12 col-sm-6 col-lg">
            <div class="single-footer-widget section_padding_0_130">
              
              <h5 class="widget-title"><strong>About</strong></h5>
              
              <div class="footer_menu">
                <ul>
                  <li><a href="/Aboutme">About me!</a></li>
                  <li><a href="#">Community</a></li>
                </ul>
              </div>
            </div>
          </div>
         
          <div class="col-12 col-sm-6 col-lg">
            <div class="single-footer-widget section_padding_0_130">
              
              <h5 class="widget-title"> <strong>Support</strong></h5>
              
              <div class="footer_menu">
                <ul>
                  <li><a href="#">Help</a></li>
                  <li><a href="#">Support</a></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-12 col-sm-6 col-lg">
            <div class="single-footer-widget section_padding_0_130">
            
              <h5 class="widget-title"><strong>Contact</strong></h5>
              
              <div class="footer_menu">
                <ul>
                  <li><a href="#">Email Us</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
  <script src="/script.js"></script>
</body>
</html>