<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="projects.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>Projects</title>
</head>
<body>
  <div class="background-img">

  <div class="container max-h-full ">
    {{> Header}}
  <div class="container d-flex justify-content-center aling-items-center">
    <p class="font text-center text-decoration-underline  " >P R O J E C T S</p>
  </div>
  
<div class="container pt-5 ms-4">
  <div class="d-block mt-5 card card-custom1 bg-light d-flex align-content-center card-customs pe-5">
    <div class="alterHline">
      <div class="Hline1 position-absolute d-none d-sm-block">
        <p>React-JS
          <ul>
            <li>
              Netflix-clone
            </li>
          </ul>
        </p>
      </div>
    </div>
    
    <a href="https://netflixclonewikki.netlify.app" class="netflixlink">
    <img src="../assets/netflix-clone.png" class="imgage-netflix" />
    </a>
   

     <div class="alterVline">
      <div class="vline1 position-absolute ">
        </div>
      </div>

  </div>
  <div class="card card-custom1 d-flex justify-content-sm-center card-customs">
    
    <a href="https://netflixclonewikki.netlify.app" class="netflixlink">
    <img src="../assets/netflix-clone-1.png" class="imgage-netflix" />
    </a>
  </div>
  </div>



  <div class="container py-5 ms-4">
  <div class="d-block card-customs mt-5 card card-custom1 bg-light d-flex align-content-start ">
    <div class="alterHline">
      <div class="Hline2 position-absolute  d-none d-sm-block">
        <p>JavaScript
          <ul>
            <li>
              Youtube-clone app
            </li>
          </ul>
        </p>
      </div>
    </div>
    
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.<p> Aliquam sint voluptatem unde? Voluptatum numquam quia</p>
     <p>similique assumenda harum ullam delectus sit nisi,</p> <p>accusantium perspiciatis deserunt deleniti veritatis voluptatibus?</p> Deserunt, accusantium.
    </p>
    

     <div class="alterVline">
      <div class="vline2 position-absolute ">
        </div>
      </div>

  </div>
  <div class="card card-custom1 card-customs">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.<p> Aliquam sint voluptatem unde? Voluptatum numquam quia</p>
     <p>similique assumenda harum ullam delectus sit nisi,</p> <p>accusantium perspiciatis deserunt deleniti veritatis voluptatibus?</p> Deserunt, accusantium.
    </p>
  </div>
  </div>

</div>
</div>
</body>
</html>